   body {
     
     background-size: cover;
       }
    
    h1 {
      font-size: 70px;
      text-align: center;
      padding-top: 50px;
      color: black;
      font-weight: bolder;
    }

    h3 {
      font-size: 30px;
      text-align: center;
    }

    #gameStatsMsg {
      text-align: center;
      font-style: italic;
      color: blue;
      font-size: 30px;
      font-weight: bold;
    }
    #hold {

       font-size: 50px;
       text-align: center;
       color: blue;
       font-style: italic;
       font-weight: bold;

    }
    #hint {
      text-align: center;
      font-style: italic;
      color: blue;
      font-size: 30px;
      font-weight: bold;
    }
    #statusMsg {
       font-size: 30px;
       text-align: center;
       color: black;
       font-weight: bold;
       
    }
    #usedLetters, #usedLettersLabel {
      font-size: 30px;
      text-align: center;
      font-style: italic;
      font-weight: bold;
    } 

    #wrongGuess {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }
    #imgHold {
      width: 60%;
      
    }
    img {
      width: 100%;
      
    }
  
    button {
      width: 15%;
      align-self: center;
    }

    #resetWord {
      font-size: 25px;
      font-weight: bold;
      box-align: center;
      
        }
    #getHint {
      font-size: 25px;
      font-weight: bold;
      border-style: double;
    }